################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogApp.DataAccess/obj/Debug
/BlogApp.Logger/obj/Debug
/BlogApp.Manager/obj/Debug
/BlogApp.Models/obj/Debug
/BlogApp.Web/obj/Debug
/packages
/BlogApp.Manager/bin/Debug
/BlogApp.UnityInjector/bin/Debug
/BlogApp.UnityInjector/obj/Debug
/BlogApp.Web/bin
/BlogApp.Models/bin/Debug
BlogApp.ILogger/obj/
BlogApp.Logger/bin/
BlogApp.Utilities/obj/
/BlogApp.DataAccess/bin/Debug
BlogApp.Web/Blog-file.txt
/BlogApp.VideoPlayer/Bin/Debug
/BlogApp.VideoPlayer/obj/Debug
BlogApp.Web/ClientBin/BlogApp.VideoPlayer.xap
BlogApp.Web/ProfilePictures/
