################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlogApp.DataAccess/obj/Debug
/BlogApp.Logger/obj/Debug
/BlogApp.Manager/obj/Debug
/BlogApp.Models/obj/Debug
/BlogApp.Web/obj/Debug
/packages
/BlogApp.Manager/bin/Debug
/BlogApp.UnityInjector/bin/Debug
/BlogApp.UnityInjector/obj/Debug
/BlogApp.Web/bin
/BlogApp.Models/bin/Debug
BlogApp.ILogger/obj/
BlogApp.Logger/bin/
BlogApp.Utilities/obj/
/BlogApp.DataAccess/bin/Debug
BlogApp.Web/Blog-file.txt
/BlogApp.VideoPlayer/Bin/Debug
/BlogApp.VideoPlayer/obj/Debug
BlogApp.Web/ClientBin/BlogApp.VideoPlayer.xap
BlogApp.Web/ProfilePictures/
BlogApp.Web/App_Data/EjemploXML.xml
BlogApp.Web/ArticlePictures/172580b7-e671-45e4-b611-711b8c2b5a4d.jpg
BlogApp.Web/VideoAds/6b024f1e-75c5-4789-a25f-635d0b262cbc.wmv
BlogApp.Web/VideoAds/9a24710b-0d5b-4261-bd8d-0ebdfefe7832.wmv
BlogApp.Web/VideoAds/ebac3cf6-f03f-4d0c-8f36-d85278c36742.wmv
