@model BlogApp.Models.Article
<div class ="row">
    <img src="@Url.Content(@Model.PicturePath)" alt="picture" style="height:200px; margin:5px; float:left"/>
    
    <p style=" margin:20px;">@Model.Text  </p>
</div>
