@model BlogApp.Models.Article
<div class="row" style="text-align:center">
    <img src="@Model.PicturePath" alt="picture" style="height:100px; margin-bottom:20px"/>
</div>
<div class="row" >
    <p style="height:200px; margin-bottom:500px">@Model.Text</p>
</div>

