@model int

@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>

<div class="row">
    @using (Html.BeginForm("Import", "Article",  FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        
        <div class="form-group">
            <div class="form-group">
                @Html.Label("Select file");
                <input type="file" name="file" accept=".xml" />
                <hr />
                <input type="submit" value="ImportArticle" class="btn btn-primary">
            </div>
        </div>
        if (@Model != null && @Model > 0)
        {
        <div class="alert alert-danger" role="alert">
            <strong>Warning</strong> @Model articles could not be imported.
        </div>
        }
    }
</div>

<div class=" row">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>