@model List<BlogApp.Models.Video>

@{
    ViewBag.Title = "List";
}

<h2>Video List</h2>

@if (Model != null)
{
    <div class="row">
        <table class="table table-hover" id="videoTable">
            <thead>
                <tr>
                    <th>Path</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vi in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(v => vi.Path)</td>
                        <td><a href="@Url.Action("Delete", "Video", new { Id = vi.Id })"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/dataTables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#videoTable').DataTable({ "bLengthChange": false, "bInfo": false });
        });
    </script>
}