body {
    padding-top: 100px;
    padding-bottom: 20px;
}

.ellipsis { 
  display: block; 
  white-space: nowrap; 
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis; 
  overflow: hidden;
}

.comment-row{
    margin-bottom:10px;

}

.circle
{
    width:25px;
    height:25px;
    border-radius:50%;
    font-size:12px;
    color:#fff;
    line-height:25px;
    text-align:center;
    background-color:red;
    display:inline-block;
    margin-top:11px;
}

.notification-bell {
    height:25px;
    margin-top:11px;
}.report-inline {
    width: 850px;
}